<section id="myOrderdetails">
  <div class="container p-5">
    <div *ngIf="isLoading" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="!isLoading && order">
      <div class="header">
        <div>
          <span>MÃ ĐƠN HÀNG: {{order._id}}</span>
        </div>
        <div style="width: 1px; height: 15px; background-color: grey;"></div>
        <div style="color: orange; font-weight: 500;">
          {{order.status}}
        </div>
      </div>
      <div class="status-history">
        <div class="stepper">
          <div class="stepper__step" *ngFor="let item of  statusOrder">
            <div class="stepper__step-icon stepper__step-icon--finish">
              <span nz-icon [nzType]="item.iconType" nzTheme="outline"></span>
            </div>
            <div class="stepper__step-text">Đơn hàng đã đặt</div>
            <div class="stepper__step-date">00:49 26-03-2024</div>
          </div>
          <!-- <div class="stepper__step">
            <div class="stepper__step-icon stepper__step-icon--finish">
              <span nz-icon nzType="profile" nzTheme="outline"></span>
            </div>
            <div class="stepper__step-text">Đơn hàng đã đặt</div>
            <div class="stepper__step-date">00:49 26-03-2024</div>
          </div>
          <div class="stepper__step stepper__step--finish">
            <div class="stepper__step-icon stepper__step-icon--finish">
              <span nz-icon nzType="dollar-circle" nzTheme="outline"></span>
            </div>
            <div class="stepper__step-text">Đơn hàng đã thanh toán (₫39.900)</div>
            <div class="stepper__step-date">00:49 26-03-2024</div>
          </div>
          <div class="stepper__step stepper__step--finish">
            <div class="stepper__step-icon stepper__step-icon--finish">
              <span nz-icon nzType="car" nzTheme="outline"></span>
            </div>
            <div class="stepper__step-text">Đã giao cho ĐVVC</div>
            <div class="stepper__step-date">19:23 26-03-2024</div>
          </div>
          <div class="stepper__step stepper__step--finish">
            <div class="stepper__step-icon stepper__step-icon--finish">
              <span nz-icon nzType="download" nzTheme="outline"></span>
            </div>
            <div class="stepper__step-text">Đã nhận được hàng</div>
            <div class="stepper__step-date">22:12 01-04-2024</div>
          </div>
          <div class="stepper__step stepper__step--pending">
            <div class="stepper__step-icon stepper__step-icon--pending">
              <span nz-icon nzType="star" nzTheme="outline"></span>
            </div>
            <div class="stepper__step-text">đánh giá</div>
            <div class="stepper__step-date"></div>
          </div> -->
          <div class="stepper__line">
            <div class="stepper__line-background" style="background: rgb(224, 224, 224);"></div>
            <div class="stepper__line-foreground" style="width: calc(100% - 552px); background: rgb(45, 194, 88);"></div>
          </div>
        </div>
      </div>
      <div class="timeline-route"></div>
      <div class="product"></div>
    </div>

  </div>
</section>
