<section id="home">
  <div id="myCarousel"  *ngIf="!shop">
    <nz-carousel nzAutoPlay>
     <div  nz-carousel-content *ngFor="let item of carouselImage" (click)="navigateToProduct(item)" style="cursor: pointer; height: 300px; max-height: 300px;">
        <img [src]="item.image" width="100%" height="300px" alt="first" class="item">
     </div>
    </nz-carousel>
  </div>
  <div *ngIf="shop && shopInfo">
      <div style="background-color:  rgba(0, 0, 0, .05);
      padding: 50px 70px; display: flex; gap: 20px;">
        <div style="max-width: 400px;min-width: 300px;box-sizing: border-box; display: flex; margin-left: 300px;">
          <div style="width: 80px; height: 80px; overflow: hidden;">
            <img style="border-radius: 50%;
            height: 100%;
            width: 100%; border: solid 1px ;" [src]="shopInfo.shop.picture" alt="">
          </div>
          <div style="display: flex; flex-direction: column; align-items: start; justify-content: space-between; color: rgba(0, 0, 0, .4); padding-left: 25px; flex-grow: 1; ">
            <div style="color: rgba(0, 0, 0, .87); font-size: 25px; font-weight: bold; margin: 0; white-space: nowrap;">{{shopInfo.shop.shopName}}</div>
            <div style="display: flex; margin-top: 8px; justify-content: space-around; gap: 15px;">
              <button nz-button nzType="default" nzDanger (click)="chatWithShop()">
                <div style="display: flex; justify-content: center; align-items: center; gap: 5px;">
                  <span nz-icon nzType="message" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" style="font-size: 18px;"></span>
                  <span>Chat ngay</span>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div style="display: flex; font-size: 15px;">
          <div class="content-col">
            <div class="content-line">
              <div class="label"> <span nz-icon nzType="shop" nzTheme="outline"></span>Sản phẩm: </div>
              <div class="content">{{shopInfo.totalProduct}}</div>
            </div>
            <div class="content-line">
              <div class="label"> <span nz-icon nzType="star" nzTheme="outline"></span>Đánh giá: </div>
              <div class="content"><span>{{shopInfo.avgRate}} ({{shopInfo.totalReview}})</span></div>
            </div>
          </div>
          <div class="content-col">
            <div class="content-line">
              <div class="label"><span nz-icon nzType="user-add" nzTheme="outline"></span>Tham gia: </div>
              <div class="content" timeago [date]="shopInfo.shop.created"></div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="container p-5">
    <div class="lead">
      <b style="margin-right: 15px;">Sắp xếp theo:</b>
      <nz-radio-group [(ngModel)]="sortBy" (ngModelChange)="filterRadioChange($event)" nzButtonStyle="solid">
        <label nz-radio-button nzValue="created" style="margin-right: 15px;">Mới nhất</label>
        <label nz-radio-button nzValue="sold">Bán chạy nhất</label>
      </nz-radio-group>
      <nz-select [(ngModel)]="sortByPrice" (ngModelChange)="filterByPriceChange($event)" nzPlaceHolder="Giá" nzAllowClear style="min-width: 155px;">
        <nz-option nzValue="asc" nzLabel="Giá: Thấp đến Cao"></nz-option>
        <nz-option nzValue="desc" nzLabel="Giá: Cao đến Thấp"></nz-option>
      </nz-select>
    </div>
    <div class="row">
      <!-- <div *ngIf="isLoading" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
        </h1>
      </div> -->
      <ng-container >
        <div *ngFor="let product of products" class="col-md-3 mb-5">
          <a routerLink="/product/{{ product._id }}">
            <div class="card bg-light hover-move-up">
              <img src="{{ product.imageArray[0] }}" alt="product" class="card-img-top">
              <div class="card-body" >
                <h5 class="card-title">{{ product.title }}</h5>
                <div class="card-text" style="display: flex; justify-content: space-between;">
                  <span style="color: orangered;">{{ convertNumberToCurrency(product.price) }}</span>
                  <span>Đã bán: {{product.sold}}</span>
                </div>
                <div>
                  <img src="/assets/img/location.png" alt="" width="20px" height="15px"> {{ product.owner.shopAddress }}
                </div>
              </div>
            </div>
          </a>
        </div>
        <div style="display: flex; justify-content: center;" *ngIf="products.length < total">
          <nz-pagination (nzPageIndexChange)="onChangePage($event)" [nzPageIndex]="pageIndex" [nzTotal]="total" [nzPageSize]="pageSize"></nz-pagination>
        </div>
      </ng-container>
    </div>
  </div>
</section>



