<section id="home">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1000" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/img/image1.jpg" alt="first" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/image2.jpg" alt="second" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/image3.jpg" alt="third" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/image4.jpg" alt="fourth" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/image5.jpg" alt="fifth" class="item">
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="container p-5">
    <div class="lead">
      <b style="margin-right: 15px;">Sắp xếp theo:</b>
      <nz-radio-group [(ngModel)]="sortBy" (ngModelChange)="filterRadioChange($event)" nzButtonStyle="solid">
        <label nz-radio-button nzValue="created" style="margin-right: 15px;">Mới nhất</label>
        <label nz-radio-button nzValue="sold">Bán chạy nhất</label>
      </nz-radio-group>
      <nz-select [(ngModel)]="sortByPrice" (ngModelChange)="filterByPriceChange($event)" nzPlaceHolder="Giá" nzAllowClear style="min-width: 155px;">
        <nz-option nzValue="asc" nzLabel="Giá: Thấp đến Cao"></nz-option>
        <nz-option nzValue="desc" nzLabel="Giá: Cao đến Thấp"></nz-option>
      </nz-select>
    </div>
    <div class="row">
      <!-- <div *ngIf="isLoading" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
        </h1>
      </div> -->
      <ng-container >
        <div *ngFor="let product of products" class="col-md-3 mb-5" >
          <a routerLink="/product/{{ product._id }}">
            <div class="card bg-light hover-move-up">
              <img src="{{ product.imageArray[0] }}" alt="product" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <div class="card-text" style="display: flex; justify-content: space-between;">
                  <span style="color: orangered;">{{ convertNumberToCurrency(product.price) }}</span>
                  <span>Đã bán: {{product.sold}}</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div style="display: flex; justify-content: center;" *ngIf="products.length < total">
          <nz-pagination (nzPageIndexChange)="onChangePage($event)" [nzPageIndex]="pageIndex" [nzTotal]="total" [nzPageSize]="pageSize"></nz-pagination>
        </div>
      </ng-container>
    </div>
  </div>
</section>



